body {
    background-color: $light-background-color;
    color: $medium-dark-color-text;

    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

.conteiner {
    width: 1200px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;

    &--no-padding-top {
        padding-top: 0;
    }

    &__title {
        margin-bottom: 50px;

        color: $medium-dark-color-text;

        font-weight: 700;
        font-size: 36px;
        line-height: 1.167;
        text-align: center;
    }

    &--team-background {
        background-color: $medium-background-color;
    }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
