.client {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.client__item {
    max-width: 210px;
    flex-basis: calc((100% - 4 * 15px) / 2);
    margin: 15px;

    @media screen and (min-width: 768px) {
        max-width: 226px;
        flex-basis: calc((100% - 6 *15px) / 3);
    }

    @media screen and (min-width: 1200px) {
        max-width: 170px;
        flex-basis: calc((100% - 12 * 15px) / 6);
    }
}

.client__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

.client__link {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 92px;
    border-radius: 4px;
    border: 1px solid currentColor;
    color: $darklight-background-color;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $accent-background-color;
    }
}
