.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    background-color: $dark-background-color;
}

.footer-nav {
    text-align: center;

    &__conection {
        margin-bottom: 60px;
    }

    &__logo {
        display: inline-block;
        margin-bottom: 20px;
    }

    &__social {
        margin-bottom: 60px;
    }
}

@media screen and (min-width: 768px) {
    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-around;

        &__conection {
            margin-bottom: 0;
        }

        &__logo {
            display: flex;
            justify-content: center;
        }

        &__social {
        margin-bottom: 0;
    }
    }

    .send {
        margin-top: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .footer-nav {
        flex-wrap: nowrap;
        justify-content: flex-start;
        text-align: start;

        &__conection {
            margin-right: 70px;
        }

        &__logo {
            justify-content: flex-start;
        }
    }

    .send {
        margin-top: 0;
    }
}

.footer-title {
    margin-bottom: 20px;

    color: $light-color-text;

    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

.address {
    font-style: normal;

    &__item:not(:last-child) {
        margin-bottom: 8px;
    }

    &__link {
        color: $lightdark-color-text;

        font-size: 14px;
        line-height: 1.7;

        &--color {
            color: $light-color-text;
        }
    }
}

.send__email {
    margin-bottom: 20px;
    padding: 15px 16px;
    width: 100%;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;

    &:focus,
    &:focus-visible {
        border: 1px solid rgba(255, 255, 255, 0.3);
        outline: none;
        color: $light-color-text;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);

        font-size: 16px;
        line-height: 1.25;
    }
}

@media screen and (min-width: 768px) {
    .send__email {
        min-width: 450px;
    }
}

.send-button {
    margin: 0 auto;
}

@media screen and (min-width: 1200px) {
    .send {
        margin-left: auto;
        &__form {
            display: flex;
        }

        &__email {
            min-width: 358px;
            margin-bottom: 0;
        }
    }

    .send-button {
        margin-left: 12px;
    }
}
