.header {
    border-bottom: 1px solid $lightdark-background-color;

    &__conteiner {
        display: flex;
        align-items: center;
    }
}

// mobile button
.mobile-button {
    display: flex;
    margin: 0 auto;
    padding: 0;
    z-index: 1;

    border: none;
    background-color: transparent;
    color: $medium-dark-color-text;

    &:hover {
        color: $accent-color-text;
    }

    &__icon {
        fill: currentColor;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.mobile-button .mobile-button__icon-close {
    display: none;
}
.mobile-button.is-open .mobile-button__icon-close {
    display: block;
}
.mobile-button.is-open .mobile-button__icon-menu {
    display: none;
}

// mobiel menu-nav
.menu-nav {
    position: absolute;
    top: 0;
    left: 0;

    padding: 48px 40px;
    width: 100%;
    background-color: $light-background-color;

    &.is-open {
        display: block;
    }

    @media screen and (max-width: 768px) {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .menu-nav {
        background-color: transparent;
        display: flex;
        position: relative;
        margin-left: 88px;
        padding: 0;
        height: 80px;
    }
}

@media screen and (min-width: 1200px) {
    .menu-nav {
        margin-left: 93px;
    }
}

// navigation
.navigation {
    margin-bottom: 306px;

    @media screen and (min-width: 768px) {
        margin: 0;
    }
}

.nav-site {
    display: block;

    &__item:not(:last-child) {
        margin-bottom: 32px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
    }
}
@media screen and (min-width: 768px) {
    .nav-site__item:not(:last-child) {
        margin-right: 50px;
    }
}

.nav-site__link {
    color: $medium-dark-color-text;

    font-weight: 500;
    font-size: 40px;
    line-height: 1.175;
    text-align: center;
    letter-spacing: 0.02em;

    transition: color 250ms $timing-function;

    &:hover,
    &:focus {
        color: $accent-color-text;
    }

    &--current {
        color: $accent-color-text;
    }
}
@media screen and (min-width: 768px) {
    .nav-site__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;

        color: $medium-dark-color-text;

        font-weight: 500;
        font-size: 14px;
        line-height: 1.143;
        letter-spacing: 0.02em;

        transition: color 250ms $timing-function;

        &:hover,
        &:focus {
            color: $accent-color-text;
        }

        &--current {
            color: $accent-color-text;
        }

        &--current::after {
            content: "";

            display: block;
            position: absolute;
            left: 0;
            bottom: -1px;

            width: 100%;
            height: 4px;
            background-color: $accent-background-color;
            border-radius: 2px;
        }
    }
}

// contacts
.contact {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 64px;

    &__item:not(:first-child) {
        margin-bottom: 32px;
    }
}
@media screen and (min-width: 768px) {
    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: auto;
        margin-bottom: 0;

        &__item:not(:first-child) {
            margin-bottom: 0;
        }

        &__item:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}
@media screen and (min-width: 1200px) {
    .contact {
        flex-direction: row;
        align-items: center;
        margin-left: auto;

        &__item:not(:last-child) {
            margin-right: 50px;
            margin-bottom: 0;
        }
    }
}

.contact__link-phone {
    color: $accent-color-text;

    font-weight: 500;
    font-size: 34px;
    line-height: 1.176;
    letter-spacing: 0.02em;
}

.contact__link-mail {
    color: $medium-light-color-text;

    font-weight: 500;
    font-size: 24px;
    line-height: 1.167;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .contact__link-phone,
    .contact__link-mail {
        display: flex;
        align-items: center;
        color: $medium-light-color-text;

        font-size: 12px;
        line-height: 1.167;

        transition: color 250ms $timing-function;

        &:hover,
        &:focus {
            color: $accent-color-text;
        }
    }
}

@media screen and (min-width: 1200px) {
    .contact__link-phone,
    .contact__link-mail {
        font-size: 14px;
        line-height: 1.143;
    }
}

.contact__link-icon-mail,
.contact__link-icon-phone {
    display: none;
}
@media screen and (min-width: 768px) {
    .contact__link-icon-mail,
    .contact__link-icon-phone {
        display: inline-block;

        fill: currentColor;
    }

    .contact__link-icon-mail {
        width: 14px;
        height: 10px;
        margin-right: 8px;
    }

    .contact__link-icon-phone {
        width: 10px;
        height: 14px;
        margin-right: 8px;
    }
}
@media screen and (min-width: 1200px) {
    .contact__link-icon-mail {
        width: 16px;
        height: 12px;
        margin-right: 10px;
    }

    .contact__link-icon-phone {
        width: 10px;
        height: 16px;
        margin-right: 10px;
    }
}

// socials list
.list-social {
    display: flex;
    margin-left: -10px;

    &__item {
        padding: 0 10px;
    }

    &__item:not(:last-child) {
        border-right: 1px solid rgba(33, 33, 33, 0.2);
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}
.list-social__link {
    color: $accent-color-text;

    font-weight: 500;
    font-size: 18px;
    line-height: 1.222;
    letter-spacing: 0.02em;
}
