.card {
    max-width: 450px;
    background-color: $light-background-color;

    &:not(:last-child) {
        margin-bottom: 30px;
    }
}

.card__link {
    display: block;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
            0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

        .card__overlay {
            transform: translateY(0);
        }
    }
}

.card__wrap {
    position: relative;
    overflow: hidden;
}

.card__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $accent-card-bg-color;

    transform: translateY(101%);
    transition: transform 250ms $timing-function;
}

.card__desc {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 63px 24px;
    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.556;
    color: $light-color-text;
}

.card__body {
    padding: 20px 24px;
    border: 1px solid $lightmid-background-color;
}

.card__title {
    margin-bottom: 4px;

    color: $medium-dark-color-text;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}

.card__text {
    color: $medium-light-color-text;

    font-size: 16px;
    line-height: 1.875;
}

@media screen and (min-width: 768px) {
    .portfolio {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }

    .card {
        max-width: 354px;
        flex-basis: calc((100% - 4 * 15px) / 2);
        margin: 15px;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }

    .card__body {
        min-width: 354px;
        padding: 20px 15px;
    }
}

@media screen and (min-width: 1200px) {
    .card {
        max-width: 370px;
        flex-basis: calc((100% - 6 * 15px) / 3);

        &__body {
            padding: 20px 24px;
        }
    }
}
