.work {
    display: flex;

    &__item:not(:last-child) {
        margin-right: 30px;
    }
}

.work__card {
    position: relative;

    &::before {
        content: "";

        display: inline-block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 70px;
        background-color: rgba(47, 48, 58, 0.8);
    }
}

.work__caption {
    display: block;
    position: absolute;
    left: 83px;
    bottom: 23px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    text-align: center;
    text-transform: uppercase;
    color: $light-color-text;
}
