// background color site
    $light-background-color: #FFFFFF;
    $dark-background-color: #2F303A;
    $darkmedium-background-color: #212121;
    $darklight-background-color: #AFB1B8;
    $medium-background-color: #F5F4FA;
    $lightdark-background-color: #ECECEC;
    $lightmid-background-color: #EEEEEE;
    $accent-background-color: #2196F3;
    $accent-hover-background-color: #188CE8;
    $accent-card-bg-color: rgba(33, 150, 243, 0.9);

    //  text color 
    $light-color-text: #FFFFFF;
    $dark-color-text: #000000;
    $medium-dark-color-text: #212121;
    $medium-light-color-text: #757575;
    $accent-color-text: #2196F3;
    $lightdark-color-text: rgba(255, 255, 255, 0.6);

    $timing-function: cubic-bezier(0.4, 0, 0.2, 1);
